{% extends 'base.html' %}

{% block content %}
<!-- Header con botones de navegación -->
<header class="main-header">
    <nav class="button-nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/clasificacion" class="nav-button">
                    <i class="fas fa-trophy"></i> Clasificación
                </a>
            </li>
            <li class="nav-item">
                <a href="/plantilla" class="nav-button">
                    <i class="fas fa-users"></i> Plantilla
                </a>
            </li>
            <li class="nav-item">
                <a href="/jornadas" class="nav-button">
                    <i class="fas fa-futbol"></i> Partidos
                </a>
            </li>
            <li class="nav-item">
                <a href="/actualidad" class="nav-button">
                    <i class="fas fa-newspaper"></i> Actualidad
                </a>
            </li>
        </ul>
    </nav>
</header>

<!-- Nombre del equipo -->
<section class="team-name">
    <h2>CD LARÍN</h2>
</section>

<!-- Espacio en blanco antes de la imagen -->
<div style="height: 20px;"></div>

<!-- Imagen del equipo -->
<section class="team-image text-center">
    <img src="{{ url_for('static', filename='images.jpg') }}" alt="Escudo del CD Larín">
    <div class="image-caption" style="font-size: 2em; font-weight: bold; color: #3498db; text-shadow: 2px 2px 4px #2c3e50; margin-top: 10px;">#UnSentirLarín</div>
</section>
{% endblock %}
